<div class="header">
  <nav class="navbar navbar-expand-lg navbar-light navigation-primary">
    <div class="rectangle">
      <div class="container">
       <div class="row">
         <div class="col-12">
           <a class="navbar-brand mtn-logo" href="#">
             <img src="./assets/images/mtn_logo.svg" alt="MTN">
           </a>
           <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                   aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
           </button>
           <div class="collapse navbar-collapse" id="navbarSupportedContent">
             <ul class="navbar-nav me-auto mb-2 mb-lg-0">
               <li class="nav-item">
                 <a class="nav-link active store" aria-current="page" href="#">Store</a>
               </li>
               <li class="nav-item">
                 <a class="nav-link products-services" href="#">Products & Services</a>
               </li>
               <li class="nav-item">
                 <a class="nav-link help-support" href="#">Help & Support</a>
               </li>
             </ul>
             <div class="d-flex">
               <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                 <li class="nav-item">
                   <a class="nav-link" href="#">
                     <i class="fas fa-search"></i>
                   </a>
                 </li>
                 <li class="nav-item dropdown">
                   <i class="fas fa-circle text-yellow"></i>
                   <a class="nav-link dropdown-toggle personal" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                      aria-expanded="false">
                     Personal
                   </a>
                 </li>
               </ul>
             </div>
           </div>
         </div>
       </div>
      </div>
    </div>
  </nav>
</div>
