<main>
  <div id="picker" class="picker">
    <div class="cell">
      <div class="cell-image">
        <img src="assets/images/cell.png" alt="MTN image" />
      </div>
      <div class="cell-title">Mobile internet</div>
    </div>
    <div class="cell">
      <div class="cell-image">
        <img src="assets/images/cell.png" alt="MTN image" />
      </div>
      <div class="cell-title">Home internet</div>
    </div>
    <div class="cell">
      <div class="cell-image">
        <img src="assets/images/cell.png" alt="Get a Device" />
      </div>
      <div class="cell-title">Get a Device</div>
      <div class="cell-action">
        <a href="#">Start here</a>
      </div>
    </div>
    <div class="cell">
      <div class="cell-image">
        <img src="assets/images/cell.png" alt="Add a phone line" />
      </div>
      <div class="cell-title">Add a phone line</div>
    </div>
    <div class="cell">
      <div class="cell-image">
        <img src="assets/images/cell.png" alt="Upgrade" />
      </div>
      <div class="cell-title">Upgrade</div>
    </div>
  </div>
</main>
