* {
  box-sizing: border-box;
}

.cells {
  display: block;
  position: relative;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.cell {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 26px;
  font-weight: 500;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  padding-bottom: 8px;

  height: 100%;
  transform-origin: center bottom;

  .cell-inner {
    transform-origin: center bottom;
    border: 2px solid rgba(150, 150, 150, 0.08);
    border-radius: 8px;
    background: linear-gradient(180deg, #FFFFFF 0%, #EBEBEB 100%);
    text-align: center;
    height: 100%;
    padding: 75px 60px;
    overflow: hidden;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12);

    .cell-image {
      display: block;
      text-align: center;
      width: 100%;
      margin-bottom: 30px;

      img {
        height: 100%;
        width: 100%;
      }
    }

    h2.cell-title {
      color: #232323;
      font-size: 20px;
      font-weight: 500;
      letter-spacing: -0.2px;
      line-height: 24px;
      text-align: center;
      padding: 30px;
      height: 80px;
    }

    h3.cell-action {
      display: none;
      a {
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 0.2px;
        line-height: 32px;
        text-transform: uppercase;
        text-decoration: none;
      }
    }
  }

  &.cell__active{
    .cell-inner {
      border-radius: 16px;
      border-bottom: 15px solid #FFC000;
      box-shadow: 0 16px 40px 0 rgba(0, 0, 0, 0.3);

      .cell-title {
        font-size: 40px;
        font-weight: 600;
        line-height: 58px;
        height: auto;
      }

      h3.cell-action {
        display: block;
        a {
          color: #232323;
        }
      }
    }
  }

  &:hover {
    .cell-inner {
      background: linear-gradient(180deg, #373737 0%, #191919 100%);

      .cell-title {
        color: #F5F5F5;
      }

      h3.cell-action {
        a {
          color: #F5F5F5;
        }
      }
    }
  }
}

.arrows {
  position: relative;

  .arrow {
    height: 40px;
    width: 40px;
    background-color: #232323;
    border-radius: 50%;
    position: absolute;
    color: #F5F5F5;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    top: -50%;
    margin-top: -120px;

    @media screen and (min-width: 768px) {
      top: 50%;
      margin-top: 60px;
    }

    &:hover {
      background: #FFC000;
      color: #232323;;
    }

    &.arrow__left {
      left: 0;
      right: auto;
    }

    &.arrow__right {
      right: 0;
      left: auto;
    }
  }
}

.picker {
  position: relative;
  width: 80vw; //225px;
  height: 75vh;
  border-radius: 2px;
  @media screen and (max-width: 768px) {
    height: 90vh;
  }
}
