$color-yellow: #FFC000;
$font-family: 'Work Sans';

html {
  background: #FFFFFF;
}

body {
  font-family: $font-family;
  background-color: #dff3f5;
  background-image: linear-gradient(to right, #f0feff 88px, transparent 1px);
  background-size: 118px;
}

.navigation-primary {
  height: 96px;
  align-items: start;
  padding: 0;
}

h1 {
  height: 80px;
  width: 200px;
  color: #232323;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: -0.2px;
  line-height: 40px;
}

h2 {
  display: block;
}

.text-yellow {
  color: $color-yellow;
}

.header {
  height: 104px;

  .rectangle {
    height: 80px;
    background-color: rgba(255, 255, 255, 0.96);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    width: 100%;

    .container {
      position: relative;

      @media screen and (max-width: 768px) {
        padding: 0;
      }

      .logo {
        height: 96px;
        width: 96px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.08);
        position: absolute;
        left: 0;
        display: block;
        z-index: 10;

        @media screen and (max-width: 768px) {
          left: 24px;
        }

        img {
          display: block;
          height: 96px;
          width: 96px;
        }
      }

      .store {
        height: 24px;
        width: 48px;
        color: #232323;
        font-size: 16px;
        letter-spacing: -0.2px;
        line-height: 23px;
        text-align: center;
      }

      .nav-item {
        padding: 32px 20px 24px;

        @media screen and (max-width: 768px) {
          padding: 12px 15px;
        }

        .text-yellow {
          font-size: 12px;
          display: inline-block;
          margin-right: 12px;
        }

        @media screen and (min-width: 768px) {
          &:first-child {
            padding-left: 124px;
          }
        }

        .nav-link {
          height: 24px;
          color: #232323;
          font-size: 16px;
          letter-spacing: -0.2px;
          line-height: 23px;
          text-align: center;
          display: inline-block;
          padding: 0;
          margin: 0;
        }

        .ic-search {
          display: block;
          height: 24px;
          width: 24px;
          background: url("~src/assets/images/ic_SEARCH.svg") no-repeat;
        }
      }
    }

    .card {
      .card-avatar {
        box-sizing: border-box;
        height: 79.67px;
        width: 79.67px;
        border: 1px solid #979797;
      }

      .card-title {
        height: 72px;
        width: 160px;
        color: #232323;
        font-family: "Work Sans";
        font-size: 20px;
        font-weight: 500;
        letter-spacing: -0.2px;
        line-height: 24px;
        text-align: center;
      }

      &:hover {
        box-sizing: border-box;
        height: 284px;
        width: 200px;
        border: 2px solid rgba(150, 150, 150, 0.08);
        border-radius: 8px;
        background: linear-gradient(180deg, #373737 0%, #191919 100%);
      }

      &.card-active {
        .card-avatar {
          height: 160px;
          width: 160px;
        }

        .card-title {
          height: 40px;
          width: 320px;
          color: #232323;
          font-size: 40px;
          font-weight: 600;
          letter-spacing: -0.2px;
          line-height: 58px;
          text-align: center;
        }
      }
    }
  }
}

.navbar {
  .navbar-toggler {
    margin: 24px;
    position: absolute;
    right: 0;
    border: none;
    padding: 0;
  }

  @media screen and (max-width: 768px) {
    .navbar-collapse {
      margin-top: 80px;
      background: #FFFFFF;
      z-index: 9;
    }

    .navbar-nav {
      margin-top: 45px
    }
  }

  .navbar-nav {
  }
}

.main {
  @media screen and (max-width: 768px) {
    display: none;
  }

  .arrow {
    height: 40px;
    width: 40px;
    background-color: #232323;
  }

  .question {
    position: relative;
    min-height: 100px;

    h2 {
      display: block;
      right: auto;
      left: 0;
      color: #232323;
      font-size: 24px;
      font-weight: 300;
      letter-spacing: -0.2px;
      line-height: 28px;
      position: absolute;
      bottom: -90px;

      span {
        font-weight: 700;
      }
    }
  }
}

.slider-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  border-radius: 2px;
  @media screen and (max-width: 768px) {
    height: 100vh;
  }

  .slick-slider {
    width: 100%;
    margin: auto;
    background: transparent;
    padding: 0;

    .slick-slide {
      padding-bottom: 45px;
    }

    @media screen and (max-width: 768px) {
      margin-top: 90px;
    }

    .slick-slide {
      .cell {
        width: 100%;
        font-size: 26px;
        font-weight: 500;
        user-select: none;
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;
        margin-top: 120px;
        height: 100%;
        transform-origin: center bottom;
        padding: 0 24px;

        .cell-inner {
          transform-origin: center bottom;
          border: 2px solid rgba(150, 150, 150, 0.08);
          border-radius: 8px;
          background: linear-gradient(180deg, #FFFFFF 0%, #EBEBEB 100%);
          text-align: center;
          height: 100%;
          padding: 75px 60px;
          overflow: hidden;
          width: 216px;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12);

          .cell-image {
            display: block;
            text-align: center;
            width: 100%;
            margin-bottom: 30px;

            img {
              height: 100%;
              width: 100%;
            }
          }

          h2.cell-title {
            color: #232323;
            font-size: 20px;
            font-weight: 500;
            letter-spacing: -0.2px;
            line-height: 24px;
            text-align: center;
            height: 80px;
          }

          h3.cell-action {
            display: none;

            a {
              font-size: 16px;
              font-weight: bold;
              letter-spacing: 0.2px;
              line-height: 32px;
              text-transform: uppercase;
              text-decoration: none;
            }
          }
        }

        &:hover {
          .cell-inner {
            background: linear-gradient(180deg, #373737 0%, #191919 100%) !important;

            .cell-title {
              color: #F5F5F5;
            }

            h3.cell-action {
              a {
                color: #F5F5F5;
              }
            }
          }
        }
      }

      &.slick-current {
        .cell {
          margin-top: 0;

          .cell-inner {
            width: 456px;
            border-radius: 16px;
            border-bottom: 15px solid #FFC000;
            box-shadow: 0 16px 40px 0 rgba(0, 0, 0, 0.3);
            background: linear-gradient(180deg, #373737 0%, #191919 100%);

            @media screen and (max-width: 768px) {
              width: 100%;
              background: linear-gradient(180deg, #FFFFFF 0%, #EBEBEB 100%);
            }

            h2.cell-title {
              font-size: 40px;
              font-weight: 600;
              line-height: 58px;
              height: auto;
            }

            h3.cell-action {
              display: block;
            }

            @media screen and (min-width: 768px) {
              h2.cell-title {
                color: #F5F5F5;
              }
              h3.cell-action {
                a {
                  color: #F5F5F5;
                }
              }
            }
          }
        }
      }
    }

    .slick-arrow {
      height: 40px !important;
      width: 40px !important;
      background-color: #232323 !important;
      border-radius: 50%;
      position: absolute;
      color: #F5F5F5;
      line-height: 40px;
      text-align: center;
      cursor: pointer;
      bottom: 20px;
      top: auto !important;

      &:hover {
        background: #FFC000 !important;
        color: #232323 !important;
      }

      &:before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: 20px;
        line-height: 40px;
        color: #FFFFFF;
        opacity: 0.75;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }

      z-index: 100;

      &.slick-prev {
        left: 30% !important;

        &:before {
          content: "\f053" !important;
        }
      }

      &.slick-next {
        right: 30% !important;

        &:before {
          content: "\f054" !important;
        }
      }

      @media screen and (max-width: 768px) {
        display: none !important;
      }
    }

    * {
      box-sizing: border-box;
    }

    .slick-list {
      margin: 0 -27px;
    }
  }
}

