$color-yellow: #FFC000;
$font-family: 'Work Sans';

/* You can add global styles to this file, and also import other style files */
.help-support {
  height: 24px;
  width: 120px;
  color: #232323;
  font-family: "Work Sans";
  font-size: 16px;
  letter-spacing: -0.2px;
  line-height: 23px;
  text-align: center;
}

.triangle {
  border-left: 300px solid cyan;
  border-right: 300px solid red;
  border-bottom: 300px solid green;
  border-top: 300px solid blue;
  display: inline-block;
}

.navigation-primary {
  height: 96px;
  align-items: start;
  padding: 0;
}

html {
  background: #FFFFFF;
}

body {
  font-family: "Work Sans";
  background-color: #dff3f5;
  background-image: linear-gradient(to right, #f0feff 88px, transparent 1px);
  background-size: 118px;
}

h1 {
  height: 80px;
  width: 200px;
  color: #232323;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: -0.2px;
  line-height: 40px;
}

h2 {
  display: block;
}

section {
  &.main {
    margin-top: 150px;

    .question {
      position: relative;

      h2 {
        display: block;
        position: absolute;
        bottom: -60px;
        right: auto;
        left: 0;
        color: #232323;
        font-size: 24px;
        font-weight: 300;
        letter-spacing: -0.2px;
        line-height: 28px;

        span {
          font-weight: 700;
        }
      }
    }
  }
}

.header {
  height: 104px;

  .rectangle {
    height: 80px;
    background-color: rgba(255, 255, 255, 0.96);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    width: 100%;

    .container {
      position: relative;

      @media screen and (max-width: 768px) {
        padding: 0;
      }

      .mtn-logo {
        height: 96px;
        width: 96px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.08);
        position: absolute;
        left: 0;
        display: block;
        z-index: 10;

        img {
          display: block;
          height: 96px;
          width: 96px;
        }
      }

      .store {
        height: 24px;
        width: 48px;
        color: #232323;
        font-family: "Work Sans";
        font-size: 16px;
        letter-spacing: -0.2px;
        line-height: 23px;
        text-align: center;
      }

      .nav-item {
        padding: 32px 20px 24px;

        @media screen and (max-width: 768px) {
          padding: 12px 15px;
        }

        .text-yellow {
          font-size: 12px;
          display: inline-block;
          margin-right: 12px;
        }

        @media screen and (min-width: 768px) {
          &:first-child {
            padding-left: 124px;
          }
        }

        .nav-link {
          height: 24px;
          color: #232323;
          font-size: 16px;
          letter-spacing: -0.2px;
          line-height: 23px;
          text-align: center;
          display: inline-block;
          padding: 0;
          margin: 0;
        }

        .ic-search {
          display: block;
          height: 24px;
          width: 24px;
          background: url("~src/assets/images/ic_SEARCH.svg") no-repeat;
        }
      }
    }

    .what-are-you-here-to {
      height: 80px;
      width: 200px;
      color: #232323;
      font-family: "Work Sans";
      font-size: 32px;
      font-weight: 600;
      letter-spacing: -0.2px;
      line-height: 40px;
    }

    .card {
      .card-avatar {
        box-sizing: border-box;
        height: 79.67px;
        width: 79.67px;
        border: 1px solid #979797;
      }

      .card-title {
        height: 72px;
        width: 160px;
        color: #232323;
        font-family: "Work Sans";
        font-size: 20px;
        font-weight: 500;
        letter-spacing: -0.2px;
        line-height: 24px;
        text-align: center;
      }

      &:hover {
        box-sizing: border-box;
        height: 284px;
        width: 200px;
        border: 2px solid rgba(150, 150, 150, 0.08);
        border-radius: 8px;
        background: linear-gradient(180deg, #373737 0%, #191919 100%);
      }

      &.card-active {
        .card-avatar {
          height: 160px;
          width: 160px;
        }

        .card-title {
          height: 40px;
          width: 320px;
          color: #232323;
          font-size: 40px;
          font-weight: 600;
          letter-spacing: -0.2px;
          line-height: 58px;
          text-align: center;
        }
      }
    }
  }
}

.navbar {
  .navbar-toggler {
    margin: 20px 15px;
    position: absolute;
    right: 0;
  }

  @media screen and (max-width: 768px) {
    .navbar-collapse {
      margin-top: 80px;
      background: #FFFFFF;
      z-index: 9;
    }

    .navbar-nav{
      margin-top: 45px
    }
  }

  .navbar-nav {
  }
}

.mt-12 {
  margin-top: 60px;
}

.grid-1920 {
  height: 1080px;
  width: 1920px;
  opacity: 0.16;
}

.main {
  @media screen and (max-width: 768px) {
    display: none;
  }
  .arrow {
    height: 40px;
    width: 40px;
    background-color: #232323;
  }
}

.text-yellow {
  color: $color-yellow;
}
